.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:41px;
    border-width:5px;
    color:#306108;
    border-color:rgba(14, 51, 8, 1);
    font-weight:bold;
    border-top-right-radius:42px;
    border-bottom-left-radius:42px;
    border-bottom-right-radius:42px;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:linear-gradient(#77d42a, #5cb811);
  }
  
  .buttonClass:hover {
    background: linear-gradient(#5cb811, #77d42a);
  }